<h2>Экзаменуемые</h2>
<button style="margin-bottom: 20px" nz-button (click)="selectedId = null;isVisible = true; validateForm.reset()"
        nzType="primary">
  Добавить
</button>
<nz-table class="clickableTable" nzSize="middle"  #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>ИИН</th>
    <th>Автошкола</th>
    <th>Дата рождения</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td (click)="selectedId = data.id; editStudent(data); isVisible= true;">{{ data.fullName }}</td>
    <td (click)="selectedId = data.id; editStudent(data); isVisible= true;">{{data.iin}}</td>
    <td (click)="selectedId = data.id; editStudent(data); isVisible= true;">{{data.drivingSchool}}</td>
    <td (click)="selectedId = data.id; editStudent(data); isVisible= true;">{{data.birthDate | date:"dd.MM.yyyy"}}</td>
    <td><button
      nz-popconfirm
      nzPopconfirmTitle="Удалить экзаменуемого?"
      (nzOnConfirm)="deleteStudent(data.id)"
      nz-button nzType="default" nzDanger>Удалить</button></td>
  </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" [nzOkText]="selectedId ? 'Сохранить' : 'Добавить'" [nzOkLoading]="loading"
          [nzTitle]="selectedId ? 'Редактирование экзаменуемого' : 'Добавить экзаменуемого'" (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleOk()">
      <nz-form-item>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="fullName" PlaceHolder="ФИО"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="iin" PlaceHolder="ИИН"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-date-picker nzFormat="dd.MM.yyyy" formControlName="birthDate" placeHolder="Дата рождения"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <input type="text" nz-input formControlName="drivingSchool" PlaceHolder="Автошкола"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group>
            <nz-select formControlName="categoryId" nzPlaceHolder="Категория авто">
              <nz-option *ngFor="let cat of categorysList" [nzValue]="cat.id"
                         [nzLabel]="cat.code + ' - '+cat.name"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
