/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
nz-form-control {
  margin-bottom: 16px;
}

.authForm {
  max-width: 450px;
  display: block;
  margin: 5% auto 0 auto;
  box-shadow: 0 0 15px -10px #000;
  padding: 20px;
}

h1 {
  text-align: center;
}

th {
  padding-left: 20px;
}

.clickableTable {
  td {
    cursor: pointer;
  }

  tr {
    transition: .3s;

    &:hover {
      background: #e8eaeb;
    }
  }
}

td {
  padding-left: 20px;
  height: 45px;
  border-bottom: 1px solid #e8eaeb;
}

.underTable{
  display: flex;
  justify-content: end;
  margin: 20px 0;
}
